# macOS
.DS_Store

# Operating System Files
Thumbs.db

# Node dependencies
node_modules/

# Local Development Generated Artifacts (MSW)
mockServiceWorker.js
msw-worker.js
assets/msw-worker.js

# Build Outputs & Temporary Files
dist/
build/
*.tmp
*.temp
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem

# AWS CLI Config & Local Credentials
.aws/
credentials
config

# IDE Project Files
.vscode/
.idea/

# Infrastructure as Code State (Defensive)
.terraform/
*.tfstate
*.tfstate.*